<!-- <p>sample works!</p> -->

<!-- {{name | NewPipe}}
{{parentData}}
<br> <br>

<form [formGroup]="CustomForm">
    <label>Name:</label><br />
    <input type="text" formControlName="Name" /><br />
  
    <label>Place:</label><br />
    <input type="text" formControlName="Place" /><br />
  
    <label>Hobbies:</label><br />
    <input type="text" formControlName="Hobbies" /><br />
  
    <label>Feedback:</label><br />
    <input type="text" formControlName="Feedback" /><br />
  <br>
    <button (click)="saveDetails()">Sava Details</button> 
  
    <button (click)="setDetails()">Set Details</button>
  </form>
<br><br>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
<br><br>

<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <br><br>
  
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>
<br><br>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br><br>
<section class="example-section">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>

<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [color]="task.color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      @for (subtask of task.subtasks; track subtask) {
        <li>
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      }
    </ul>
  </span>
</section>
<br><br>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br><br>

<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
<br><br>

 -->

 <!-- <select>
  <option *ngFor="let data of value">{{data.name}}</option>
 </select>

 <button (click)="openDate()">Click Me</button> -->

 <!-- <div class="mainDiv">

  <div class="sub1">

  </div>
  <div class="sub2">

  </div>
 </div> -->

 <!-- <div class="circle"></div> -->

 <!-- <div class="grid-container">

<div class="item1">Header</div>
<div class="item2">Menu</div>
<div class="item3">Main</div>
<div class="item4">Right</div>
<div class="item5">Footer</div>
 </div> -->

 

<div class="mainDiv">
  <div class="Header">
      <img [src]="data.picture.medium" alt="" class="photo">
      <h3>{{data.name.first}} {{data.name.last}}</h3>
    </div>

      <hr>

      <div class="Footer">
      <h6>{{data.email}}</h6>
      <h6>{{data.phone}}</h6>
    </div>
      <button class="hire">Hire</button>
   </div>
